<p style="color: green"><%= notice %></p>

<%= render @bingo_card %>

<div>
  <%= link_to "Edit this bingo card", edit_bingo_card_path(@bingo_card) %> |
  <%= link_to "Back to bingo cards", bingo_cards_path %>
  <%= button_to "Destroy this bingo card", @bingo_card, method: :delete %>
</div>