<p style="color: green"><%= notice %></p>

<%= render @bingo_game %>
<%= render "number_picker" %>
<%= render "bingo_cards/bingo_cards", locals: {bingo_numbers: @bingo_game.bingo_numbers} %>

<div>
  <%= link_to "Edit this bingo game", edit_bingo_game_path(@bingo_game) %> |
  <%= link_to "Back to bingo games", bingo_games_path %>

  <%= button_to "Destroy this bingo game", @bingo_game, method: :delete %>
</div>
